@{
    ViewData["Title"] = "profile";
    Layout = "_LayoutDoctor";
}
<style>
    .bg-1 {
        background-image: url("../Doctor/Images/22.jpg");
        background-size: cover;
        position: relative;
    }
</style>
<!-- **************************************************************** -->
<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white"></span>
                    <h1 class="text-capitalize mb-5 text-lg">Specialist doctor</h1>

                    <!-- <ul class="list-inline breadcumb-nav">
                      <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                      <li class="list-inline-item"><span class="text-white">/</span></li>
                      <li class="list-inline-item"><a href="#" class="text-white-50">All Doctors</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- *********************************************************************************** -->
<section class="section doctor-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="doctor-img-block">
                    <img src="~/Doctor/Images/1.jpg"  alt="" class="img-fluid w-100">

                    <div class="info-block mt-4">
                        <h4 class="mb-0">Alexandar james</h4>
                        <p>Cardiology</p>

                        <ul class="list-inline mt-4 doctor-social-links">
                            <li class="list-inline-item"><a href="#!"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#!"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#!"><i class="icofont-skype"></i></a></li>
                            <li class="list-inline-item"><a href="#!"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#!"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-6">
                <div class="doctor-details mt-4 mt-lg-0">
                    <h2 class="text-md" style="color: black;">Introducing to myself</h2>
                    <div class="divider my-4"></div>
                    <p>
                        Dr. Alexandar james is a board-certified Cardiology who has been practicing medicine for 25 years. He received his medical degree from Harvard University in 2010. After completing his residency in Cardiology Program at Haravrd University, Dr. Alexandar james went on to complete a fellowship in Cardiology Program.

                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section doctor-qualification gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h3>My Educational Qualifications</h3>
                    <div class="divider my-4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="edu-block mb-5">
                    <span class="h6 text-muted" style="color: black;">Year(2005-2007) </span>
                    <h4 class="mb-3 title-color" style="color: black;">MBBS, M.D at University of Wyoming</h4>
                    <p style="color: black;">
                        Earn a bachelor's degree. Most medical schools require applicants to have a bachelor's degree, although some schools may accept applicants with a high school diploma and relevant work experience.

                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="edu-block mb-5">
                    <span class="h6 text-muted">Year(2009-2010) </span>
                    <h4 class="mb-3 title-color">MBBS, M.D at University of Japan</h4>
                    <p>
                        Earn a bachelor's degree. Most medical schools require applicants to have a bachelor's degree, although some schools may accept applicants with a high school diploma and relevant work experience.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section doctor-skills">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <h3>My skills</h3>
                <div class="divider my-4"></div>
                <p>
                    Dr. Alexandar james have a deep understanding of human anatomy, physiology, and pathophysiology. He also be familiar with the latest medical treatments and procedures.

                </p>
            </div>

            <div class="col-lg-4">
                <div class="skill-list">
                    <h5 class="mb-4">Expertise area</h5>
                    <ul class="list-unstyled department-service">
                        <li><i class="icofont-check mr-2"></i>International Drug Database</li>
                        <li><i class="icofont-check mr-2"></i>Stretchers and Stretcher Accessories</li>
                        <li><i class="icofont-check mr-2"></i>Cushions and Mattresses</li>
                        <li><i class="icofont-check mr-2"></i>Cholesterol and lipid tests</li>
                        <li><i class="icofont-check mr-2"></i>Critical Care Medicine Specialists</li>
                        <li><i class="icofont-check mr-2"></i>Emergency Assistance</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar-widget  gray-bg p-4">
                    <h5 class="mb-4">Make Appoinment</h5>

                    <ul class="list-unstyled lh-35">
                        <li class="d-flex justify-content-between align-items-center">
                            Sun - Wed : <span>8:00 - 17:00</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            Thu - Fri : <span>9:00 - 17:00</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            Sat - sun : <span>10:00 - 17:00</span>
                        </li>
                    </ul>

                    <div class="sidebar-contatct-info mt-4">
                        <p class="mb-0">Need Urgent Help?</p>
                        <h3 class="text-color-2">+23-4565-65768</h3>
                    </div>
                </div>
            </div>



            <div class="col-lg-4">
                <div class="sidebar-widget  gray-bg p-4">
                    <h5 class="mb-4">Personal Data</h5>

                    <ul class="list-unstyled lh-35">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Phone</span>
                            <span>015-513-498-12</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Location</span>
                            <span>Egy-cairo_Wast Elbalad</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Age</span>
                            <span>50</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>PHD degree</span>
                            <span>Excellence</span>
                        </li>
                    </ul>


                    <!-- **************** -->
                    

                </div>
                </div>



            

                </div>
                
            </div>
</section>


<div class="starRating" style="top:310%;">
    <p>Enter The Feedback</p>
    <input type="radio" name="starRate" value="5" id="fifth">
    <label for="fifth"></label>
    <input type="radio" name="starRate" value="4" id="fourth">
    <label for="fourth"></label>
    <input type="radio" name="starRate" value="3" id="thirth">
    <label for="thirth"></label>
    <input type="radio" name="starRate" value="2" id="second">
    <label for="second"></label>
    <input type="radio" name="starRate" value="1" id="first">
    <label for="first"></label>
    <!-- Show Result  -->
    <span class="result"></span>
    <hr />
</div>
    

<a class="btn btn-slide-9" asp-controller="HomeDoctor" asp-action="doctor" type="submit" style="background-color:black; margin-left:85%; color: white; argin-top: 10%; width:10%;">Back &nbsp; <i style="color:white; margin:auto;" class="bi bi-arrow-bar-right"></i> </a>

    

