<div class="row">
    <div class="col-2"></div>
    <div class="col-9 mt-5 pt-5 mx-5 px-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-dark-emphasis">Appointments</h4>
                <hr style="margin-top: 0; margin-bottom: 30px; width: 30%" />
                <div class="table-responsive">
                    <table class="table no-wrap v-middle mb-0">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>Patient Name</th>
                                <th>Doctor</th>
                                <th>Specialization</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-top-0 text-black py-4">
                                    Mohamed Adel
                                </td>
                                <td class="border-top-0 text-primary py-4">
                                    Ali Omar
                                </td>
                                <td class="border-top-0 py-4 text-info">Dental</td>
                                <td class="border-top-0 py-4 text-warning">
                                    10-11-2023
                                </td>
                                <td class="border-top-0 font-weight-medium text-warning py-4">
                                    20:15
                                </td>
                                <td class="">
                                    <i class="fa fa-circle text-success font-12"
                                       data-bs-toggle="tooltip"
                                       data-placement="top"
                                       title="completed"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-top-0 text-black py-4">
                                    Mohamed Adel
                                </td>
                                <td class="border-top-0 text-primary py-4">
                                    Ali Omar
                                </td>
                                <td class="border-top-0 py-4 text-info">Dental</td>
                                <td class="border-top-0 py-4 text-warning">
                                    10-11-2023
                                </td>
                                <td class="border-top-0 font-weight-medium text-warning py-4">
                                    20:15
                                </td>
                                <td class="">
                                    <i class="fa fa-circle text-danger font-12"
                                       data-bs-toggle="tooltip"
                                       data-placement="top"
                                       title="cancelled"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="footer text-center text-muted">
            All Rights Reserved &copy; Copyright.
            <a href="#">Before Others</a>.
        </footer>
    </div>
</div>