@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Login</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Health Care Medical Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Novena HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4807/4807695.png" type="image/icon type"/>
  <link rel="stylesheet" href="~/css/bootstrap.css"/>
      <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
      @* <link rel="stylesheet" href="~/TestCoreApp.styles.css" asp-append-version="true"/> *@
      
  
  <!--
  Essential stylesheets
  =====================================-->
  <link rel="stylesheet" href="../../theme/plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../theme/plugins/icofont/icofont.min.css">
  <link rel="stylesheet" href="../../theme/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../../theme/plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="../../theme/css/style.css">
  <style>
      h1,h2{
          font-family: var(--bs-body-font-family);
          font-weight: unset;
          
      }
  </style>
</head>

<body id="top">

    <section class="page-title bg-1">
      <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <h1 class="text-capitalize mb-5 text-lg">Hospital Management System</h1>
                        <ul class="list-inline breadcumb-nav">
                            <li class="list-inline-item"><a asp-controller="Home" asp-action="Index" class="except"> Home</a></li>
                            <li class="list-inline-item"><span class="text-white">/</span></li>
                            <li class="list-inline-item"><a href="#" class="text-white-50">Email Confirmation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div style="margin: 80px 20px;" class="alert alert-dismissible alert-success">
        <h1>@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>


</body>
</html>
