@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using HMSproject.Models;


@model Nurse


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong style="font-size: 25px">Add</strong>
                <span style="color: #3ad896; font-size: 20px">Nurse</span>
                <hr width="" style="margin-top: 0" />
            </div>
            <div class="card-body card-block">
                <form asp-action="Create"
                      method="POST"
                      enctype="multipart/form-data"
                      class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="name" class="form-control-label text-black">Nurse Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text"
                                   id="name"
                                   asp-for="Name"
                                   placeholder="nurse name"
                                   class="form-control" />
                            <span asp-validation-for="Name" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="age" class="form-control-label text-black">Age</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="number"
                                   id="age"
                                   asp-for="Age"
                                   placeholder="nurse age"
                                   class="form-control" />
                            <span asp-validation-for="Age" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="email" class="form-control-label text-black">Email</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="email"
                                   id="email"
                                   asp-for="Email"
                                   placeholder="nurse email"
                                   class="form-control" />
                            <span asp-validation-for="Email" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="ph" class="form-control-label text-black">Phone</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text"
                                   id="ph"
                                   asp-for="Phone"
                                   placeholder="nurse phone"
                                   class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="password" class="form-control-label text-black">Password</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="password"
                                   id="password"
                                   asp-for="Password"
                                   placeholder="nurse password"
                                   class="form-control" />
                            <span asp-validation-for="Password" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="textarea-input"
                                   class="form-control-label text-black">Address</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea asp-for="Address"
                                      id="textarea-input"
                                      rows="5"
                                      placeholder="address..."
                                      class="form-control"></textarea>
                            <span asp-validation-for="Address" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="sp" class="form-control-label text-black">Specialization</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select class="form-control" asp-for="FkDept">
                                <option value="" disabled selected>please select..</option>
                                @foreach (KeyValuePair<int, string> obj in ViewBag.Depts)
                                {
                                    <option value="@obj.Key">@obj.Value</option>
                                }
                            </select>
                            <span asp-validation-for="FkDept" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="gender" class="form-control-label text-black">Gender</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select id="gender" class="form-control" asp-for="Gender">
                                <option value="" disabled selected>please select..</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="file-input"
                                   class="form-control-label text-black">Nurse Image</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="file"
                                   id="file-input"
                                   asp-for="Image"
                                   name="nsImage"
                                   class="form-control" />
                            <span asp-validation-for="Image" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="card-footer"
                         style="
                    display: flex;
                    justify-content: space-between;
                    margin-top: 25px;
                    background-color: white;
                  ">
                        <button type="submit"
                                class="btn btn-outline-primary btn-sm mx-4">
                            <i class="fas fa-paper-plane"></i> Submit
                        </button>
                        <button type="reset" class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-ban"></i> Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* Client Side Validation*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}