<div class="row">
    <div class="col-2"></div>
    <div class="col-9 mt-5 pt-5 mx-5 px-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-dark-emphasis">Departments List</h4>
                <hr style="margin-top: 0; margin-bottom: 30px; width: 30%" />
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>ID</th>
                                <th>Dept Name</th>
                                <th>No.doctors</th>
                                <th>No.Nurses</th>
                                <th>Availability</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Skin</td>
                                <td>3</td>
                                <td>20</td>
                                <td>
                                    <i class="fa fa-circle text-success font-12"
                                       data-bs-toggle="tooltip"
                                       data-placement="top"
                                       title="available"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="footer text-center text-muted">
            All Rights Reserved &copy; Copyright.
            <a href="#">Before Others</a>.
        </footer>
    </div>
</div>