@model Appointment 
@{
    ViewBag.Title = "Nurse Find Result";
    Layout = "_Layout_Nurse_ayman";
}
<link rel="icon" href="~/theme/images/favicon.ico" type="image/icon type" />

<style>
    .search-container {
                display: grid;
                grid-template-columns: minmax(350px, 500px) 200px;
                align-items: center;
                margin: 20px;
            }
        
    .search-input {
                padding: 5px;
                border: 1px solid #ccc;
                background-color: #eee;
                border-radius: 1.7px;
                height: 37px;
            }
        
    .search-input:hover{
                transform: scale(1.05);
                background-color: white;
                border: 1px solid rgba(0, 0, 255, 0.644);
            }
            
    .search-input:focus{
                transform: scale(1.05);
                background-color: white;
                border: 1px solid rgba(0, 0, 255, 0.644);
            }
        
    .search-button {
                padding: 5px 10px;
                background-color: #eee;
                color: #00f;
                border: 1px solid #ccc;
                border-radius: 1.7px;
                cursor: pointer;
                margin: 5px 15px;
                height: 37px;
            }
            
    .search-button:hover {
                transform: scale(1.05);
                background-color: rgba(10, 10, 201, 0.644);
                border: 1px solid rgba(0, 0, 255, 0.644);
                color: white;
            }
</style>

<section class="a-page-title bg-1"> 
    <div class="overlay"></div>
    <div class="column-md">
        <div class="text-center">
            <h1 class="text-capitalize">Hospital Management System</h1>
            <ul class="line-in-list">
                <li class="nurse-list"><a asp-controller="Nurse_ayman" asp-action="Index" class="except"> Nurse</a></li>
                <li class="nurse-list">/</li>
                <li class="nurse-list">Nurse - Find an Appointment</li>
            </ul>
        </div>
    </div>
</section>

<section class="Nurse-Find-section">

    <div class="date-box" id="date-box" disabled>
        <div class="date-item">
            <div class="date-item-label">Day</div>
            <div id="day"></div>
        </div>
        <div class="date-item">
            <div class="date-item-label">Date</div>
            <div id="date"></div>
        </div>
        <div class="date-item">
            <div class="date-item-label">Time</div>
            <div id="time"></div>
        </div>
    </div>

    <h3 style="color: #6f8ba4; margin: 10px 20px;">Find an Appointment</h3>

    
    @using (Html.BeginForm("Search", "Nurse_ayman"))

    {
        <div class="search-container">
                 @* <input style="width:260px" type="text" name="SSN" id="search-input" autocomplete="off" placeholder="Find an Appointment" data-val="true" data-val-regex="The SSN field must be 14 digits long and only contain numeric values." data-val-regex-pattern="^\d{14}$" data-val-required="The SSN field is required." /> *@
                 <input type="text" name="SSN" id="SSN" autocomplete="off" placeholder="Find an Appointment" class="form-control  search-input"
                        data-rule-SSN="true" data-msg-SSN=" Please enter a valid SSN." />
                 <input style="width:95px" class="search-button" type="submit" value="Find"   />
    
         </div>
    }
    
    

    
    <table id="result-table">
    <thead>
    <tr>
        <th>Patient Name</th>
        <th>Department Name</th>
        <th>Day</th>
        <th>Status</th>
        <th>Payment Status</th>
    </tr>
    </thead>
    <tbody id="result-table-body">
    

    @if (Model.PatientID == "No Result")
    {
        <tr>
            <th>No Result</th>
            <th>No Result</th>
            <th>No Result</th>
            <th>No Result</th>
            <th>No Result</th>
        </tr>
    }
    else
    {
        <tr>

            <th>@Model.PatientID</th>
            <th>@Model.Department.Name  </th>
            <th>@Model.Day</th>
            @if (Model.Status == 0)
            {
                <th>Pending</th>
            }
            else
            {
                <th>Confirmed</th>
            }
            @if (Model.Status == 0)
            {
                @using (Html.BeginForm("Nurse_search", "Nurse_ayman"))
                {
                    <form method="post">
                        <input type="hidden" name="id"  value="@Model.Id" id="search-input"/>
                        <th> <input id="search-button" type="submit" value="Pay"/></th>
                    </form>
                }
                
              }
            else
            {
                <th button type="button" disabled>Payed</th>
            }
        </tr>
    }

   
    </tbody>
    </table>

</section>


<script>
    function updateDate() {
      const dayDiv = document.getElementById("day");
      const dateDiv = document.getElementById("date");
      const timeDiv = document.getElementById("time");
      const today = new Date();
      const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
      const dayOfWeek = daysOfWeek[today.getDay()];
      const dateString = today.toLocaleDateString();
      const timeString = today.toLocaleTimeString();
      dayDiv.innerHTML = dayOfWeek;
      dateDiv.innerHTML = dateString;
      timeDiv.innerHTML = timeString;
    }

    updateDate(); 
    setInterval(function() {
      updateDate();
    }, 1000);
    
    function onKeyPress(event) {
          
          var key = event.keyCode || event.which;
        
         
          if (key < 48 || key > 57 ) {
            
            event.preventDefault();
          }
        }
         
        document.getElementById("SSN").addEventListener("keypress", onKeyPress);
    
</script>



