@using HMSproject.Models;
@model string
            
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutDoctor";
}
<style>



    /* input */

    /*Clearing Floats*/
    .cf:before, .cf:after {
        content: "";
        display: table;
    }

    .cf:after {
        clear: both;
    }

    .cf {
        zoom: 1;
    }
    /* Form wrapper styling */

    .search-wrapper {
        width: 450px;
        margin: 150px auto 50px auto;
        border-radius: 40px;
        background: transparent;
        box-shadow: 0 4px 20px -2px #e9e9e9;
    }

        /* Form text input */

        .search-wrapper input {
            padding-left: 20px;
            width: 330px;
            height: 40px;
            padding: 10px 5px;
            float: left;
            font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
            border: 0;
            background: #fff;
            border-radius: 40px;
            border-top-style: none;
        }

            .search-wrapper input:focus {
                outline: 0;
                background: #fff;
                box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
            }

            .search-wrapper input::-webkit-input-placeholder {
                color: #999;
                font-weight: normal;
                font-style: italic;
                padding-left: 20px;
            }

            .search-wrapper input:-moz-placeholder {
                color: #999;
                font-weight: normal;
                font-style: italic;
            }

            .search-wrapper input:-ms-input-placeholder {
                color: #999;
                font-weight: normal;
                font-style: italic;
                border-style: none;
            }

        /* Form submit button */
        .search-wrapper button {
            overflow: visible;
            position: relative;
            float: right;
            border: 0;
            padding: 0;
            cursor: pointer;
            height: px;
            width: 110px;
            font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
            color: #fff;
            text-transform: uppercase;
            background: #198cff;
            border-radius: 40px;
            text-shadow: 0 -1px 0 rgba(0, 0,0, .3);
        }



            .search-wrapper button:active,
            .search-wrapper button:focus {
                background: #198cff;
                outline: 0;
            }

                .search-wrapper button:focus:before,
                .search-wrapper buttont:active:before {
                    border-right-color: #c42f2f;
                }

            .search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
                border: 0;
                padding: 0;
            }
</style>

    <!-- **firt page** -->
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white"></span>
                        <h1 class="text-capitalize mb-5 text-lg">My Work</h1>

                        <!-- <ul class="list-inline breadcumb-nav">
                          <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                          <li class="list-inline-item"><span class="text-white">/</span></li>
                          <li class="list-inline-item"><a href="#" class="text-white-50">Our services</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****************************************doctor work****************************************************** -->
    <section class="section doctor-single">
        <div class="container">
            @if (Model == "There are no patients")
            {
                <div class="alert alert-dismissible alert-danger">
                    <strong>@Model</strong>
                </div>
            }
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="doctor-img-block">
                        <img src="~/Doctor/Images/1.jpg" alt="" class="img-fluid w-100">

                        <div class="info-block mt-4">
                            <h2 style="color: #222222;" class="mb-0">Alexandar james</h2>
                            <h6> Orthopedic Surgary</h6><h6>42 years old</h6><h6> lives in Cairo, Egypt</h6>

                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-6">
                    <div class="doctor-details mt-4 mt-lg-0">
                        <h2 class="text-md" style="color: black; margin-right: 95%;">Start </h2>
                        <div class="divider my-4"></div>
                        <a class="btn btn-slide-9" asp-controller="Work" asp-action="appointement" style="background-color:mediumvioletred; margin-left: 41%; color: white;">Show All Appointments</a>
                        <hr/>


                        <a class="btn btn-slide-9" asp-action="Patient" asp-controller="Work" style="background-color:mediumvioletred; margin-left: 46%; color: white;">Next patient</a>


                        <hr/>


                        <form class="search-wrapper cf" asp-controller="search" asp-action="spatient" method="get">
                            <input type="text" name="nid" placeholder="Search a Patient by SSN..." required style="box-shadow: none">
                            <button value="search" type="submit" style="background-color:mediumvioletred; "> &nbsp; Search</button>
                        </form>

                        <hr/>

                    </div>


                </div>
            </div>
        </div>
    </section>
    <a class="btn btn-slide-9" asp-controller="HomeDoctor" asp-action="doctor" type="submit" style="background-color:black; margin-left: 85%; argin-top: 10%; color: white; ">Back &nbsp; <i style="color:white; margin:auto;" class="bi bi-arrow-bar-right"></i> </a>

