@* @model TModel *@

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] HMSproject</title>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/HMSproject.styles.css" asp-append-version="true"/> *@






    @*-----Doctor-------*@
    <link rel="stylesheet" href="~/Doctor/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Doctor/lib/bootstrap/bootstrap.min.js" />
    <link rel="stylesheet" href="~/Doctor/css/style.css" />
    <link rel="stylesheet" href="~/Doctor/css/style.css.map" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/Doctor/Images/1.jpg" />
    <link rel="stylesheet" href="~/Doctor/Images/22.jpg" />
    <link rel="stylesheet" href="~/Doctor/Images/ll.jpg" />
    <link rel="stylesheet" href="~/Doctor/Images/logo.png" />
    <link rel="stylesheet" href="~/Doctor/Images/syringe-solid.svg" />
    <link rel="stylesheet" href="~/Doctor/Images/user-solid (2).svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    @*-----Doctor-------*@
    
    
    <!-- Basic Page Needs
      ================================================== -->
        <meta charset="utf-8" />
    
        <!-- Mobile Specific Metas
      ================================================== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Health Care Medical Html5 Template" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
        />
        <meta name="author" content="Themefisher" />
        <meta name="generator" content="Themefisher Novena HTML Template v1.0" />
    
        <!-- theme meta -->
        <meta name="theme-name" content="novena" />
    
        <!-- Favicon -->
        <!-- <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" /> -->
        
        <link rel="icon" href="~/theme/images/favicon.ico" type="image/icon type" />
    
        <!--
      Essential stylesheets
      =====================================-->
        <link rel="stylesheet" href="~/theme/plugins/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="~/theme/plugins/icofont/icofont.min.css" />
        <link rel="stylesheet" href="~/theme/plugins/slick-carousel/slick/slick.css" />
        <link
          rel="stylesheet"
          href="~/theme/plugins/slick-carousel/slick/slick-theme.css"
        />
    
        <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/theme/css/style.css" />


    <style>
		.bg-1 {
			background-image: url("/Images/im.jpg");
			background-size: cover;
			position: relative;
		}
	</style>

</head>
<body>


<!-- **firt page** -->
<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block text-center">
					<span class="text-white"></span>
					<h1 class="text-capitalize">My Home</h1>
				</div>
				
			</div>
		</div>
	</div>
</section>
<!-- ********************************************************************************************** -->

<section class="information" id="About" style="background-color: whitesmoke;">
	<h2 class="t"> Doctor Information</h2>
	<div class="cards">

		<div class="c">
			<h2 class="title" style="color: white;">My Work</h2>
			@* <i class="fa-solid fa-laptop-code"> </i> *@
			<figure>
				<a asp-controller="Work" asp-action="Work" >
					<img src="~/Doctor/Images/syringe-solid.svg" height="100px" width="100px">
				</a>
               
				<p class="info" style="color: white; margin-left:7%;" >You can start your work.</p>
			</figure>
		</div>


		<div class="c">
			<h2 class="title" style="color: white;">My Profile</h2>


			@* <i class="fa-solid fa-laptop-code"> </i> *@
			<figure>
				<a asp-controller="Profile" asp-action="profile" >
					<img src="~/Doctor/Images/user-solid (2).svg" height="100px" width="100px">
				</a>
				<p class="info" style="color: white; margin-left:8%">You can see your profile.</p>
			</figure>


		</div>
	</div>
</section>


<a class="btn btn-slide-9" asp-controller="HomeDoctor" asp-action="Indexx" type="submit" style="background-color:black; margin-left: 85%; margin-top: 10%; color: white; ">Back &nbsp; <i style="color:white; margin:auto;" class="bi bi-arrow-bar-right"></i> </a>

</body>
</html>