@{
	ViewData["Title"] = "Dashboard";
	Layout = "_LayoutDoctor";
}
	<style>
    .bg-1 {
        /*background-image: url("/Doctor/Images/22.jpg");*/
        background-size: cover;
        position: relative;
    }


    /*-------------------------------------------------*/

	body {
		margin: 0;
		padding: 0;
		background: #fafafa;
		color: #fff;
	}

	.maain {
		position: relative;
		height: 100vh;
		width: 100%;
		top: 0;
		left: 0;

		right: 0;
	}

		.maain .overrlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

		
			z-index: 0;
		}

		.maain #video {
			position: absolute;
			z-index: -1;
			min-height: 100%;
			min-width: 100%;
			width: 100%;
			height: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			object-fit: cover;
		}

		.maain .naavbar {
			position: absolute;
			height: auto;
			width: 100%;
			margin: 2% 0;
			display: flex;
			align-items: center;
			overflow: hidden;
			padding: 10px 0;
		}

			.maain .naavbar .logo {
				position: relative;
				height: auto;
				width: 10%;
				left: 10%;
				top:2%;
				float: left;
				font-family: 'Lato',sans-serif;
				font-size: 35px;
				font-weight: 600;
				cursor: pointer;
				text-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.2);
				transition: 0.1s ease-in-out;
			}

				.maain .naavbar .logo:hover {
					color: rgba(0, 0, 0, 0.4);
				}

		.maain .heading {
			position: absolute;
			height: auto;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			text-align: left;
			text-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.2);
		}

			.maain .heading .head {
				position: relative;
				font-family: 'RacingSansOne',sans-serif;
				font-size: 48px;
				font-weight: 600;
				color: #fff;
				left:8%;
			}

				.maain .heading .head span {
					color:black;
				}

				.maain .heading .sub span {
					color: black;
				}


			.maain .heading .sub {
				position: relative;
				font-family: 'cinzel',sans-serif;
				font-size: 22px;
				font-weight: 300;
				color: #fff;
				left: 15%;
				margin: -2% 0 2% 0;
			}

			.maain .heading .bttns {
				height: auto;
				width: 100%;
				display: flex;
				text-align: center;
				align-items: center;
				justify-content: left;
				position: relative;
				left:15%;
			}

				.maain .heading .bttns a {
					color: #fff;
					text-align: center;
					text-decoration: none;
					font-family: 'cinzel',sans-serif;
					font-size: 15px;
					font-weight: 300;
					display: block;
					border: 1px solid rgba(255, 255, 255, 0.5);
					height: auto;
					width: 150px;
					padding: 10px;
					display: flex;
				
					align-items: center;
					justify-content: center;
					margin-left: 1%;
					border-radius: 2px;
					transition: 0.5s ease-in-out;
				}

					.maain .heading .bttns a:hover {
						background: black;
						border: 1px solid #017fb5;
					}

				.maain .heading .bttns .btn1 {
					background: black;
					border: 1px solid #017fb5;
					left :50%;
				}

					.maain .heading .bttns .btn1:hover {
						background: #017fb5;
						border: 1px solid #017fb5;
						color: rgba(255, 255, 255, 0.95);
					}
					</style>
	


@*<a class="btn btn-slide-9" asp-controller="Home" asp-action="doctor" style="background-color:mediumvioletred; margin-left: 46%; color: white;">Work Start</a>
*@
<!-- ****************************************Medical History****************************************************** -->
<section >
	<div class="maain">
		@*<video autoplay loop  id="video" plays-inline>
			<source  src="~/Images/fg.jpg" type="video/mp4">
		</video>*@
		<img src="~/Doctor/Images/ll.jpg" no repeat id="video" />
		@*<div class="overrlay"></div>
		<div class="naavbar">
			<div class="logo">  <img src="~/Doctor/Images/logo.png" alt="" class="img-fluid" /> </div>
		</div>*@


		<div class="heading">
			<h1 class="head">Dr.<span>Lexandar James</span></h1>
			<br>
			<h3 class="sub">WELCOME TO OUR <span>Hospital</span></h3>
			
			
			
			<br>
			<br>
			<div class="bttns">
				<a class="btn1" asp-controller="HomeDoctor" asp-action="doctor">Work Start</a>

				<a class="btn2" asp-controller="HomeDoctor" asp-action="Close">Close work</a>
			</div>

		</div>
	</div>
    
</section>