<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="~/assets/images/favicon.ico" />
    <title>CareCoord | Admin Panel</title>
    <!-- Custom CSS -->
    <link href="~/assets/extra-libs/c3/c3.css" rel="stylesheet" />
    <link href="~/assets/libs/chartist/dist/chartist.min.css"
            rel="stylesheet" />
    <link href="~/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css"
            rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/dist/css/style.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
            href="~/dist/css/icons/font-awesome/css/fa-brands.min.css" />
    <link rel="stylesheet"
            href="~/dist/css/icons/font-awesome/css/fa-regular.min.css" />
    <link rel="stylesheet"
            href="~/dist/css/icons/font-awesome/css/fa-solid.min.css" />
    <link rel="stylesheet"
            href="~/dist/css/icons/font-awesome/css/fontawesome-all.min.css" />
    <link rel="stylesheet"
            href="~/dist/css/icons/font-awesome/css/all.min.css" />
    <!-- Flash Message -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>
<body style="background-color: #e9eaee">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper"
         data-theme="light"
         data-layout="vertical"
         data-navbarbg="skin6"
         data-sidebartype="full"
         data-sidebar-position="fixed"
         data-header-position="fixed"
         data-boxed-layout="full">

         <!-- The Header -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-lg">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-lg-none"
                       href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a asp-controller="HomeAdmin" asp-action="Index">
                            <!-- <img
                              src="../assets/images/freedashDark.svg"
                              alt=""
                              class="img-fluid"
                            /> -->
                            <img src="~/assets/images/logo_icon.png"
                                 alt=""
                                 class="img-fluid" />
                        </a>
                    </div>
                    <!-- End Logo -->

                    <!-- Toggle which is visible on mobile only -->
                    <a class="topbartoggler d-block d-lg-none waves-effect waves-light"
                       href="javascript:void(0)"
                       data-bs-toggle="collapse"
                       data-bs-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent"
                       aria-expanded="false"
                       aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav float-left me-auto ms-3 ps-1">
                        <!-- Notification -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle pl-md-3 position-relative"
                               href="javascript:void(0)"
                               id="bell"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <span><i data-feather="bell" class="svg-icon"></i></span>
                                <span class="badge text-bg-primary notify-no rounded-circle">1</span>
                            </a>
                        </li>
                        <!-- End Notification -->
                        <!-- create new -->
                    </ul>
                    <!-- Right side toggle and nav items -->
                    <ul class="navbar-nav float-end">
                        <!-- Search -->
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                               type="search"
                                               placeholder="Search"
                                               aria-label="Search" />
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li>
                        <!-- User profile and search -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="javascript:void(0)"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <img src="~/assets/images/users/profile-pic.jpg"
                                     alt="user"
                                     class="rounded-circle"
                                     width="40" />
                                <span class="ms-2 d-none d-lg-inline-block">
                                    <span>Hello,</span>
                                    <span class="text-dark">Mohamed</span>
                                    <i data-feather="chevron-down" class="svg-icon"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-right user-dd animated flipInY">
                                <div class="dropdown-divider"></div>
                                <a asp-controller="Home" asp-action="Index" class="dropdown-item"> <i data-feather="power" class="svg-icon me-2 ms-1"></i> Main Website</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <!-- User profile and search -->
                    </ul>
                </div>
            </nav>
        </header>
        
        <!-- The aside -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link"
                               asp-controller="HomeAdmin" asp-action="Index"
                               aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap">
                            <span class="hide-menu">Controls</span>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow"
                               href="javascript:void(0)"
                               aria-expanded="false">
                                <i class="fas fa-user-doctor"></i><span class="hide-menu">Doctors</span>
                            </a>
                            <ul aria-expanded="false"
                                class="collapse first-level base-level-line">
                                <li class="sidebar-item">
                                    <a asp-controller="Doctor" asp-action="Index" class="sidebar-link">
                                        <span class="hide-menu text-muted">
                                            All Doctors
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a asp-controller="Doctor" asp-action="Create" class="sidebar-link">
                                        <span class="hide-menu text-muted">
                                            Add a doctor
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="#" aria-expanded="false">
                                <i class="fas fa-plus-circle"></i><span class="hide-menu">Nurses</span>
                            </a>
                            <ul aria-expanded="false"
                                class="collapse first-level base-level-line">
                                <li class="sidebar-item">
                                    <a asp-controller="Nurse" asp-action="Index" class="sidebar-link"><span class="hide-menu text-muted"> All Nurses </span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a asp-controller="Nurse" asp-action="Create" class="sidebar-link">
                                        <span class="hide-menu text-muted">
                                            Add a Nurse
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="#" aria-expanded="false">
                                <i class="fas fa-building"></i><span class="hide-menu">Departments</span>
                            </a>
                            <ul aria-expanded="false"
                                class="collapse first-level base-level-line">
                                <li class="sidebar-item">
                                    <a asp-controller="Dept" asp-action="Index" class="sidebar-link"><span class="hide-menu text-muted"> All depts </span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a asp-controller="Dept" asp-action="Create" class="sidebar-link"><span class="hide-menu text-muted"> Add a dept </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="#" aria-expanded="false">
                                <i class="fas fa-chart-bar"></i><span class="hide-menu">Appointments</span>
                            </a>
                            <ul aria-expanded="false"
                                class="collapse first-level base-level-line">
                                <li class="sidebar-item">
                                    <a asp-controller="HomeAdmin" asp-action="ShowApp" class="sidebar-link"><span class="hide-menu text-muted">Show Recent</span></a>
                                </li>
                            </ul>
                        </li>
                        
                        <hr />
                        <li class="sidebar-item">
                            <span class="hide-menu">
                                <a asp-controller="Home" asp-action="Index" class="sidebar-link"> <i data-feather="power" class="svg-icon me-2 ms-1"></i> Main Website</a>
                            </span>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        
        <!-- Partial Alerts-->
        <partial name="_Notification" />

        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <footer class="footer text-center text-muted font-14">
                All Rights Reserved &copy; Copyright.
                <a href="#">Before Others</a>.
            </footer>
        </div>

    </div>

    <!-- JS Scripts -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="~/dist/js/app-style-switcher.js"></script>
    <script src="~/dist/js/feather.min.js"></script>
    <script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="~/assets/extra-libs/c3/d3.min.js"></script>
    <script src="~/assets/extra-libs/c3/c3.min.js"></script>
    <script src="~/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/dist/js/pages/dashboards/dashboard1.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
