
<div class="row">
    <div class="col-2"></div>
    <div class="col-9 mt-5 pt-5 mx-5 px-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-dark-emphasis">Doctors List</h4>
                <hr style="margin-top: 0; margin-bottom: 30px; width: 30%" />
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>department</th>
                                <th>Day</th>
                                <th>Date</th>
                                <th>Avai. Drs</th>
                                <th>Avai. Apps</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dental</td>
                                <td>Sunday</td>
                                <td>01-02-2023</td>
                                <td>2</td>
                                <td>10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="footer text-center text-muted mx-5">
            All Rights Reserved &copy; Copyright.
            <a href="#">Before Others</a>.
        </footer>
    </div>
</div>