@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using HMSproject.Models

@model Department


<div class="row">
    <div class="col-2"></div>
    <div class="col-9 mt-5 pt-5 mx-5 px-5">
        <div class="card">
            <div class="card-header">
                <strong style="font-size: 25px">Edit</strong>
                <span style="color: #f1c34f; font-size: 20px">Department</span>
                <hr width="" style="margin-top: 0" />
            </div>
            <div class="card-body card-block">
                <form asp-action="Edit"
                      method="POST"
                      enctype="multipart/form-data"
                      class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="name" class="form-control-label text-black">Dept Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text"
                                   id="name"
                                   asp-for="Name"
                                   placeholder="dept name"
                                   class="form-control" />
                            <span asp-validation-for="Name" class="text-danger font-12"></span>
                        </div>
                    </div>
                    @*<div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="nd" class="form-control-label text-black">No. Doctors</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="number"
                                   id="nd"
                                   asp-for="DrNumber"
                                   placeholder="doctors"
                                   class="form-control" />
                            <span asp-validation-for="DrNumber" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="nn" class="form-control-label text-black">No. Nurses</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="number"
                                   id="nn"
                                   asp-for="NsNumber"
                                   placeholder="nurses"
                                   class="form-control" />
                            <span asp-validation-for="NsNumber" class="text-danger font-12"></span>
                        </div>
                    </div>*@
                    <div class="row form-group mt-4">
                        <div class="col col-md-3">
                            <label for="name" class="form-control-label text-black">Appointment Cost</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="number"
                                   id="name"
                                   asp-for="app_price"
                                   placeholder="cost"
                                   class="form-control" />
                            <span asp-validation-for="app_price" class="text-danger font-12"></span>
                        </div>
                    </div>
                    <div class="card-footer"
                         style="
                    display: flex;
                    justify-content: space-between;
                    margin-top: 25px;
                    background-color: white;
                  ">
                        <button type="submit"
                                class="btn btn-outline-primary btn-sm mx-4">
                            <i class="fas fa-pencil"></i> Update
                        </button>
                        <button type="reset" class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-ban"></i> Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="footer text-center text-muted">
            All Rights Reserved &copy; Copyright.
            <a href="#">Before Others</a>.
        </footer>
    </div>
</div>

@* Client Side Validation*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}