@using Microsoft.AspNetCore.Identity

@inject SignInManager<Patient> SignInManager
@inject UserManager<Patient> UserManager


@if (SignInManager.IsSignedIn(User))
{
    
    <a id="manage" class="col-sm-2 col-form-label" style="color: white;
                                                          font-size: 15px;
                                                          letter-spacing: 1px;
                                                          background-color: #5b6d93;
                                                          border-radius: 20px;
                                                          vertical-align: baseline;
                                                          padding-right: inherit;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.Name
      @try
      {
          <img style="width: 30px;height: 30px; top: -1.28px;position: relative;right: -5px;" class="rounded-circle" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.profilePic))" />
      }
      catch{
          <img style="width: 30px;height: 30px; top: -1.28px;position: relative;right: -5px;" class="rounded-circle"  src="~/theme/images/profilePic.png" alt=""id="profilePicture" />
      }
        
    </a>
    
    
    <form id="logoutForm"  asp-area="Identity" style="display: inline-block;"asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" style="margin-left: 15px; padding: 3px 15px;border-radius: 10px;border: none;" class="btn-primary">Logout</button>
    </form>
}
else
{
    <a class="lgnbtn" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="lgnbtn" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}