@model Appointment

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Our services</span>
          <h1 class="text-capitalize mb-5 text-lg">What We Do</h1>

          <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item">
              <a asp-controller="Home" asp-action="Index" class="text-white">Home</a>
            </li>
            <li class="list-inline-item">
              <span class="text-white">/</span>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white-50">Our services</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section service-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-5">
          <img
            src="~/theme/images/service/service-1.jpg"
            alt=""
            class="img-fluid"
          />
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Emergency Department</h4>
            <p class="mb-4">
              The emergency department is the hospital's frontline for responding to urgent medical situations. It is staffed by specially trained medical professionals who are available around the clock to provide care for patients who require immediate attention for a range of conditions, including traumatic injuries, severe infections, heart attacks, strokes, and other life-threatening emergencies.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-5">
          <img
            src="~/theme/images/service/service-2.jpg"
            alt=""
            class="img-fluid"
          />
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Diagnostic Imaging</h4>
            <p class="mb-4">
              Diagnostic imaging services, such as X-rays, CT scans, MRIs, and ultrasounds, are critical tools for diagnosing and treating a wide range of medical conditions. Hospitals should have the necessary equipment and trained professionals to provide timely and accurate diagnostic imaging services to their patients.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-5">
          <img
            src="~/theme/images/service/service-3.jpg"
            alt=""
            class="img-fluid"
          />
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Surgery</h4>
            <p class="mb-4">
              Hospitals should have fully equipped operating rooms and staff who are trained in a variety of surgical procedures. This can include emergency surgeries as well as elective procedures, such as joint replacements, cancer surgeries, and cardiac surgeries.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-5 mb-lg-0">
          <img
            src="~/theme/images/service/service-4.jpg"
            alt=""
            class="img-fluid"
          />
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Intensive Care Unit (ICU)</h4>
            <p class="mb-4">
              The ICU is a specialized unit within a hospital that provides advanced medical care for critically ill patients who require close monitoring and specialized treatment. Patients in the ICU may be on life support, require complex medication regimens, or need frequent diagnostic tests.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-5 mb-lg-0">
          <img
            src="~/theme/images/service/service-6.jpg"
            alt=""
            class="img-fluid"
          />
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Obstetrics and Gynecology</h4>
            <p class="mb-4">
              Hospitals should have specialized services to provide care for women's health needs, including obstetrics and gynecology. This can include prenatal care, labor and delivery, postpartum care, and treatment for gynecological conditions such as uterine fibroids, endometriosis, and ovarian cysts.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-5 mb-lg-0">
          <img
            src="~/theme/images/service/service-8.jpg"
            alt=""
            class="img-fluid"
          />
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Mental Health Services</h4>
            <p class="mb-4">
               Mental health services are an essential component of hospital care, as mental health conditions can have a significant impact on a patient's overall health and well-being. Hospitals should have the resources to provide psychiatric evaluations, medication management, and therapy for patients with mental health conditions such as depression, anxiety, bipolar disorder, and schizophrenia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section cta-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="cta-content">
          <div class="divider mb-4"></div>
          <h2 class="mb-5 text-lg">
            We are pleased to offer you the
            <span class="title-color">chance to have the healthy</span>
          </h2>
          <a asp-controller="Appointment" asp-action="Create" class="btn btn-main-2 btn-round-full"
          >Get appoinment<i class="icofont-simple-right ml-2"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>

