@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- Slider Start -->
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xl-7">
            <div class="block">
              <div class="divider mb-3"></div>
              <span class="text-uppercase text-sm letter-spacing"
                >Total Health care solution</span
              >
              <h1 class="mb-3 mt-3">Your most trusted health partner</h1>

              <p class="mb-4 pr-5">
                Your health is our top priority.
                Our state-of-the-art healthcare facility offers a wide range of services to help you achieve optimal wellness. 
                From preventative care to specialized treatments. 
                Discover how we can help you live your healthiest life.
              </p>
              <div class="btn-container">
                <a asp-controller="Appointment"
                   asp-action="Create"
                   class="btn btn-main-2 btn-icon btn-round-full">Make an appoinment <i class="icofont-simple-right ml-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="feature-block d-lg-flex">
              <div class="feature-item mb-5 mb-lg-0">
                <div class="feature-icon mb-4">
                  <i class="icofont-surgeon-alt"></i>
                </div>
                <span>24 Hours Service</span>
                <h4 class="mb-3">Online Appoinment</h4>
                <p class="mb-4">
                  Get ALl time support for emergency.We have introduced the
                  principle of family medicine.
                </p>
                <a asp-controller="Appointment"
                   asp-action="Create" class="btn btn-main btn-round-full">Make an appoinment</a>
              </div>

              <div class="feature-item mb-5 mb-lg-0">
                <div class="feature-icon mb-4">
                  <i class="icofont-ui-clock"></i>
                </div>
                <span>Timing schedule</span>
                <h4 class="mb-3">Working Hours</h4>
                <ul class="w-hours list-unstyled">
                  <li class="d-flex justify-content-between">
                    Sun - Wed : <span>8:00 - 17:00</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    Thu - Fri : <span>9:00 - 17:00</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    Sat - sun : <span>10:00 - 17:00</span>
                  </li>
                </ul>
              </div>

              <div class="feature-item mb-5 mb-lg-0">
                <div class="feature-icon mb-4">
                  <i class="icofont-support"></i>
                </div>
                <span>Emegency Cases</span>
                <h4 class="mb-3">1-800-700-6200</h4>
                <p>
                  Get ALl time support for emergency.We have introduced the
                  principle of family medicine.Get Conneted with us for any
                  urgency .
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-sm-6">
            <div class="about-img">
              <img src="theme/images/about/img-1.jpg" alt="" class="img-fluid" />
              <img src="theme/images/about/img-2.jpg" alt="" class="img-fluid mt-4" />
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="about-img mt-4 mt-lg-0">
              <img src="theme/images/about/img-3.jpg" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="about-content pl-4 mt-4 mt-lg-0">
              <h2 class="title-color">Personal care <br />& healthy living</h2>
              <p class="mt-4 mb-5">
                        our team of experienced professionals is here to provide you with the best possible care
              </p>

              <a
                 asp-controller="Home" asp-action="Services"
                class="btn btn-main-2 btn-round-full btn-icon"
                >Services<i class="icofont-simple-right ml-3"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cta-section">
      <div class="container">
        <div class="cta position-relative">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="counter-stat">
                <i class="icofont-doctor"></i>
                <span class="h3 counter" data-count="58">0</span>k
                <p>Happy People</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="counter-stat">
                <i class="icofont-flag"></i>
                <span class="h3 counter" data-count="700">0</span>+
                <p>Surgery Comepleted</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="counter-stat">
                <i class="icofont-badge"></i>
                <span class="h3 counter" data-count="40">0</span>+
                <p>Expert Doctors</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="counter-stat">
                <i class="icofont-globe"></i>
                <span class="h3 counter" data-count="20">0</span>
                <p>Worldwide Branch</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section service gray-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 text-center">
            <div class="section-title">
              <h2>Award winning patient care</h2>
              <div class="divider mx-auto my-4"></div>
              <p>
                 Our patient-centered approach ensures that you receive personalized care tailored to your unique needs. Our team of experienced professionals works tirelessly to provide you with the highest level of care and support.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-laboratory text-lg"></i>
                <h4 class="mt-3 mb-3">Laboratory services</h4>
              </div>

              <div class="content">
                <p class="mb-4">
                   Our state-of-the-art laboratory is equipped with the latest technology and staffed by experienced professionals
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-heart-beat-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Heart Disease</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                   Our healthcare facility offers a range of services to help you maintain a healthy heart. Take control of your heart health.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-tooth text-lg"></i>
                <h4 class="mt-3 mb-3">Dental Care</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                   Your smile is one of your most important assets, and our dental care is here to help you keep it healthy and beautiful.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-crutch text-lg"></i>
                <h4 class="mt-3 mb-3">Body Surgery</h4>
              </div>

              <div class="content">
                <p class="mb-4">
                   Our experienced team of surgeons offers a wide range of procedures to help you achieve your goals.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-brain-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Neurology Surgery</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                   Our experienced team of neurosurgeons offers a wide range of procedures to help you achieve optimal health.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-dna-alt-1 text-lg"></i>
                <h4 class="mt-3 mb-3">Gynecology</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                   It is an essential part of women’s health, and our experienced team of is here to provide you with the best possible care.
                </p>
              </div>
            </div>
                <a asp-controller="Dept" asp-action="Department"
                   class="btn btn-main-2 btn-round-full btn-icon">
                    Departments<i class="icofont-simple-right text-light ml-3"></i>
                </a>
          </div>
        </div>
      </div>
    </section>
    <section class="section appoinment">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="appoinment-content">
              <img src="theme/images/about/img-3.jpg" alt="" class="img-fluid" />
              <div class="emergency">
                <h2 class="text-lg">
                  <i class="icofont-phone-circle text-lg"></i>+23 345 67980
                </h2>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-10">
            <div class="appoinment-wrap mt-5 mt-lg-0">
              <h2 class="mb-2 title-color">Book appoinment</h2>
              <p class="mb-4">
                        Our user-friendly online system allows you to schedule an appointment with one of our experienced healthcare professionals at a time that works for you. Don’t wait to take control of your health. Book your appointment today and start your journey towards optimal wellness.
              </p>
              <form id="#" class="appoinment-form" method="post" action="#">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select disabled
                        class="form-control"
                        id="exampleFormControlSelect1">
                        <option>Choose Department</option>
                        <option>Software Design</option>
                        <option>Development cycle</option>
                        <option>Software Development</option>
                        <option>Maintenance</option>
                        <option>Process Query</option>
                        <option>Cost and Duration</option>
                        <option>Modal Delivery</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select disabled
                        class="form-control"
                        id="exampleFormControlSelect2">
                        <option>Select Doctors</option>
                        <option>Software Design</option>
                        <option>Development cycle</option>
                        <option>Software Development</option>
                        <option>Maintenance</option>
                        <option>Process Query</option>
                        <option>Cost and Duration</option>
                        <option>Modal Delivery</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        disabled
                        name="date"
                        id="date"
                        type="text"
                        class="form-control"
                        placeholder="dd/mm/yyyy"
                      />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        disabled
                        name="time"
                        id="time"
                        type="text"
                        class="form-control"
                        placeholder="Time"/>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        disabled
                        name="name"
                        id="name"
                        type="text"
                        class="form-control"
                        placeholder="Full Name"/>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        disabled
                        name="phone"
                        id="phone"
                        type="Number"
                        class="form-control"
                        placeholder="Phone Number"/>
                    </div>
                  </div>
                </div>
                <div class="form-group-2 mb-4">
                  <textarea
                    disabled
                    name="message"
                    id="message"
                    class="form-control"
                    rows="6"
                    placeholder="Your Message"></textarea>
                </div>

                <a class="btn btn-main btn-round-full" asp-controller="Appointment"
                   asp-action="Create">Make An Appoinment <i class="icofont-simple-right ml-2"></i
                ></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

