@{
    ViewData["Title"] = "Doctors";
    Layout = "_Layout";
}

@model IEnumerable<Doctor>


<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">All Doctors</span>
          <h1 class="text-capitalize mb-5 text-lg">Specalized doctors</h1>

          <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item">
              <a asp-action="Index" class="text-white">Home</a>
            </li>
            <li class="list-inline-item">
              <span class="text-white">/</span>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white-50">All Doctors</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- portfolio -->
<section class="section doctors">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-title">
              <h2>Doctors</h2>
              <div class="divider mx-auto my-4"></div>
              <p>
                 Each of our doctors has undergone rigorous training and has years of experience in their field.
                 They are committed to staying up-to-date with the latest medical advancements to ensure that you receive the most effective treatments.
              </p>
            </div>
          </div>
        </div>

        <div class="row shuffle-wrapper portfolio-gallery">
            @foreach(var obj in Model) {
                <div class="col-lg-4 col-sm-6 col-md-6 mb-4 shuffle-item">
                  <div class="position-relative doctor-inner-box">
                    <div class="doctor-profile">
                      <div class="doctor-img">
                        <img
                          src="~/images/dr/@obj.Image"
                          alt="doctor-image"
                          class="img-fluid w-100"
                        />
                      </div>
                    </div>
                    <div class="content mt-3">
                      <h4 class="mb-0">
                        <a asp-controller="Doctor" asp-action="SingleDoctor" asp-route-id="@obj.Id">@obj.Name</a>
                      </h4>
                      <p>@obj.FkDeptNavigation.Name</p>
                    </div>
                  </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- /portfolio -->
<section class="section cta-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="cta-content">
          <div class="divider mb-4"></div>
          <h2 class="mb-5 text-lg">
            We are pleased to offer you the
            <span class="title-color">chance to have the healthy</span>
          </h2>
          <a asp-controller="Appointment" asp-action="Create" class="btn btn-main-2 btn-round-full"
          >Get appoinment<i class="icofont-simple-right ml-2"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>